.serviceslist{
 display: flex;
 flex-wrap: wrap;
  justify-content: space-between; /* Adjust as needed */
  max-width: 600px;
  margin: auto;
}
.item {
  width: calc(33.33% - 10px); /* Adjust width and margin as needed */
  margin-bottom: 20px; /* Adjust margin as needed */
  background-color: #f0f0f0; /* Just for visualization */
  border: 1px solid #ccc; /* Just for visualization */
  box-sizing: border-box; /* Include border in width calculation */
  text-align: center; /* Center content horizontally */
  padding: 10px; /* Adjust padding as needed */
  list-style-type: none;
}
.serviceswrapper{
 /* display: flex; */
 /* justify-content: space-evenly; */
 /* align-items:  center; */
 text-align: center;
 /* border-radius: 15px; */
 /* padding:auto; */
 /* min-height: 50vh; */
}
.serviceswrapper h1{
 margin: 10px;
}
.cartIconContainerServices{
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1  ;
  top:3.5em;
  right: 20em;
  align-items: center;
  text-decoration: none;
  color: #f3a796;/* Change the color as needed */
  order: 1;
  margin-left: auto ; 
}
.backButton{
  border-radius: 4px;
  border:none;
  background-color: #4CAF50;
  font-size: 70px;
  color:#fff;
  margin-right: 70%;
  width: 100px;
  height: 70px;
  margin-top: 20px;
}
.backButton:hover{
  cursor: pointer;
  background-color: transparent;
  color: #4CAF50;
  border: 2px solid #4CAF50;
}