body {
  font-family: 'Roboto', sans-serif; /* Changed font to Roboto */
  background-color: #f7f7f7;
  color: #333;
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
}

.logoContainer {
  position: absolute;
  top: 20px; /* Adjust the top position as needed */
  left: 20px; /* Adjust the left position as needed */
}

.logo {
  width: 100px; /* Adjust the width of the logo */
  height: auto; /* Maintain aspect ratio */
}


.container {
  text-align: center;
  font-size: large;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease; /* Added transition for box-shadow */
}

.heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px; /* Increased font size */
  text-align: center; 
  color: #333;
  margin-bottom: 30px;
}

.list {
  list-style-type: none;
  padding: 0;
}

.listItem {
  margin: 10px 0;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.selectedCenter {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff; /* Change background color here */
}

.selectedCenterDetails {
  background-color: #f0f0f0; /* Change background color for details section */
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.centerList {
  list-style-type: none;
  padding: 0;
}

.centerItem {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.centerItem:hover {
  transform: scale(1.02);
}

.centerItem img {
  border-radius: 10px;
}

.centerItem strong {
  color: #1a1d21;
  font-size: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.centerItem p {
  margin: 5px 0;
  font-size: 16px;
}

.centerItem p.services {
  margin-top: 10px;
}

.centerItem p.services:before {
  content: 'Services: ';
  font-weight: bold;
}

.radiusSelector {
  margin-bottom: 20px;
  margin-left: 50%;
}

.radiusSelector label {
  font-size: 16px;
  margin-right: 10px;
  color: #141313;
}

.radiusSelector select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  cursor: pointer;
}

.addToCartButton,
.removeFromCartButton {
  padding: 8px 16px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.addToCartButton:hover,
.removeFromCartButton:hover {
  background-color: #0056b3;
}

.container {
  position: relative; /* Set container position to relative */
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center; /* Changed alignment to center */
  margin-bottom: 20px;
}

.searchInput {
  padding: 8px;
  margin-right: 10px; /* Adjusted margin for spacing */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

.searchButton {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #0056b3;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pageButton {
  padding: 8px 12px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pageButton:hover {
  background-color: #0056b3;
}

.centerImage {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px; /* Fixed border radius typo */
}

.centerInfo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.serviceitem {
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  list-style: none;
}

.services {
  display: flex;
  justify-content: center;
}

.servicesButton {
  background-color: #3b4146;
  color: #fff;
  align-items: center;
  margin-top: 10px;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.servicesButtonContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Added margin bottom for spacing */
}

.cartIconContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  color: hsla(76, 88%, 44%, 0.447);
  order: 1;
  margin-left: auto;
}

.cartIcon {
  font-size: 40px;
}

.cartItemCount {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  padding: 4px;
  font-size: 12px;
}
